<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST" >
    <%- include('_form_fields') %>
     <a href="/books">Cancel</a> <!-- used for navigation and linking to other web pages or resources (goes back to authors page) -->
     <button type="submit"> Update</button> <!-- used for triggering actions or performing functions within the current web page -->
    
</form>
