<!-- starts with an _ because partial file, not an actual file -->
<div class="form-row">
    <div class="form-item">         
        <label>Name</label>
        <input type="text" name="name" value="<%=author.name %> "><!-- how server gets data from object-->
    </div>
</div>