<h2>Edit Author</h2>
<form action="/authors/<%=author.id%>?_method=PUT" method="POST"> <!-- tells server that form sends multipart data- this is how we store cover image name (could include a file)-->
    <%- include('_form_fields') %>
     <a href="/authors/<%=author.id %>">Cancel</a> <!-- used for navigation and linking to other web pages or resources (goes back to authors page) -->
     <button type="submit"> Update</button> <!-- used for triggering actions or performing functions within the current web page -->
    
</form>